infra/n8n-workflow/sentiment-analysis-workflow.json
{
  "name": "Sentiment Analysis API — Public Endpoint",
  "nodes": [
    {
      "name": "Webhook (Public API Endpoint)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "path": "/sentiment",
        "method": "POST",
        "responseMode": "onReceived",
        "options": {
          "responseData": {
            "responseData": true
          }
        }
      }
    },
    {
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        300
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "values": [
            {
              "string": [
                {
                  "name": "text",
                  "value": "={{ $json.body.text || '' }}"
                }
              ]
            },
            {
              "boolean": [
                {
                  "name": "has_text",
                  "value": "={{ ($json.body.text || '').toString().trim().length > 0 }}"
                }
              ]
            }
          ]
        }
      }
    },
    {
      "name": "Read ML Config from Firebase",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        520,
        100
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "/dynamic-ml-config",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "name": "Has Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        620,
        300
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_text }}",
              "value2": "true"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          }
        },
        "combinator": "and"
      }
    },
    {
      "name": "Validate Length",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        220
      ],
      "parameters": {
        "jsCode": "// ── Length validator (max 5000 chars) ──────────────────────────────\nconst text  = ($input.first().json && $input.first().json.text) || '';\nconst mlCfg = $input.all().find(i => i.json && i.json.mlServiceUrl);\nconst mlErr = $input.all().find(i => i.json && i.json.error);\nconst MAX   = 5000;\n\nif (mlErr) {\n  return [{json: {error: `ML config fetch failed: ${mlErr.json.error}`, statusCode: 503}}];\n}\nif (!mlCfg || !mlCfg.json.mlServiceUrl) {\n  return [{json: {error: 'ML service URL not found in Firestore config ml_config/sentiment-ml-v1. Run deploy.sh to initialise.', statusCode: 503}}];\n}\n\nconst textItem = $input.all().find(i => i.json && i.json.text !== undefined);\nif (!textItem) { return [{json: {error: 'No input payload', statusCode: 400}}]; }\n\n// Merge ML config into the validated-text item\ntextItem.json.mlServiceUrl = mlCfg.json.mlServiceUrl;\ntextItem.json.mlApiKey     = mlCfg.json.mlApiKey || '';\nreturn [textItem];"
      }
    },
    {
      "name": "Call ML Inference",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.mlServiceUrl || $env.ML_SERVICE_URL || '' }}/predict",
        "options": {
          "timeout": 15000
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-API-Key",
              "value": "={{ $json.mlApiKey || $env.ML_API_KEY || '' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "bodyParametersJson": "={{ JSON.stringify({text: $input.first().json.text}) }}",
        "sendHeaders": true,
        "sendBody": true
      }
    },
    {
      "name": "Post-Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        220
      ],
      "parameters": {
        "jsCode": "// ── Standardise and return ML results ─\nconst ml  = $input.item.json;\nconst raw = $input.all().find(i => i.json && i.json.text);\nconst meta = $input.item.metadata || {};\n\nlet sentiment  = (ml.sentiment  || 'unknown').toLowerCase();\nlet confidence = parseFloat(ml.confidence ?? 0);\n\nif (sentiment !== 'positive' && sentiment !== 'negative') sentiment = 'neutral';\nconfidence = Math.max(0, Math.min(1, confidence));\n\nconst reqAt   = new Date().toISOString();\nconst tracer  = meta.runId || null;\nconst cfwd    = meta.headers && meta.headers['x-forwarded-for']\n             || meta.headers && meta.headers['X-Forwarded-For'];\n\nreturn [{\n  json: {\n    sentiment:      sentiment,\n    confidence:     confidence,\n    positive_score: sentiment === 'positive' ? confidence : 1 - confidence,\n    negative_score: sentiment === 'negative' ? confidence : 1 - confidence,\n    neutral_score:  sentiment === 'neutral'  ? confidence : (1 - confidence) * 0.5,\n    processed_at:   ml.processed_at || new Date().toISOString(),\n    requested_at:   reqAt,\n    request_ip:     cfwd || null,\n    tracer_id:      tracer,\n    model:          ml.model || 'unknown',\n  }\n}];"
      }
    },
    {
      "name": "High-Confidence Negative?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        220
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.sentiment === 'negative' }}",
              "value2": "={{ $json.confidence > 0.9 }}"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          }
        },
        "combinator": "and"
      }
    },
    {
      "name": "Slack Alert (High-Confidence Negative)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1660,
        120
      ],
      "parameters": {
        "resource": "message",
        "operation": "create",
        "sendTo": "={{ $json.request_ip }}",
        "text": "ALERT — High-confidence negative sentiment detected on public sentiment API.\nSentiment: {{ $json.sentiment }}\nConfidence: {{ $json.confidence }}\nRequest IP: {{ $json.request_ip }}\nProcessed: {{ $json.processed_at }}\nTracer ID: {{ $json.tracer_id }}\n\nText preview: {{ $('Webhook (Public API Endpoint)').item.json.body.text.substring(0, 200) }}",
        "otherOptions": {}
      }
    },
    {
      "name": "Incident Record",
      "type": "n8n-nodes-base.influxDb",
      "typeVersion": 1,
      "position": [
        1660,
        360
      ],
      "parameters": {
        "operation": "create",
        "resource": "metric",
        "name": "ml_sentiment_negative_alert",
        "value": "={{ $json.confidence }}",
        "options": {}
      }
    },
    {
      "name": "No-Op Alert Branch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        500
      ],
      "parameters": {
        "jsCode": "// NoSlack connected — passthrough\nreturn [{\n  json: {\n    alert_sent:  false,\n    alert_reason: 'Slack not configured — skipping alert',\n    ...$json\n  }\n}];"
      }
    },
    {
      "name": "Build Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        380
      ],
      "parameters": {
        "jsCode": "// Build final standardised JSON response with security headers\nconst data = $input.item.json;\nconst header = {\n  'content-type':            'application/json',\n  'cache-control':           'no-store, no-cache',\n  'x-content-type-options':  'nosniff',\n  'x-frame-options':         'DENY',\n  'strict-transport-security': 'max-age=31536000; includeSubDomains; preload',\n};\nreturn [{json: data, headers: header}];"
      }
    }
  ],
  "connections": {
    "Webhook (Public API Endpoint)": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Has Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Text?": {
      "main": [
        [
          {
            "node": "Validate Length",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Final Response",
            "type": "main",
            "index": 0,
            "sourceOutput": 0
          }
        ]
      ]
    },
    "Validate Length": {
      "main": [
        [
          {
            "node": "Call ML Inference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call ML Inference": {
      "main": [
        [
          {
            "node": "Post-Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post-Process Results": {
      "main": [
        [
          {
            "node": "High-Confidence Negative?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Final Response",
            "type": "main",
            "index": 0,
            "sourceOutput": 1
          }
        ]
      ]
    },
    "High-Confidence Negative?": {
      "main": [
        [
          {
            "node": "Slack Alert (High-Confidence Negative)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Incident Record",
            "type": "main",
            "index": 0,
            "sourceOutput": 1
          }
        ],
        [
          {
            "node": "Build Final Response",
            "type": "main",
            "index": 0,
            "sourceOutput": 2
          }
        ]
      ]
    },
    "Slack Alert (High-Confidence Negative)": {
      "main": [
        [
          {
            "node": "Build Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incident Record": {
      "main": [
        [
          {
            "node": "No-Op Alert Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No-Op Alert Branch": {
      "main": [
        [
          {
            "node": "Build Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2-dynamic",
  "id": "supremeai-sentiment-v2-dynamic",
  "tags": [
    {
      "name": "production"
    },
    {
      "name": "ml"
    },
    {
      "name": "sentiment"
    },
    {
      "name": "public-api"
    },
    {
      "name": "dynamic-config"
    }
  ],
  "triggerCount": 1,
  "staticData": null,
  "description": "Production sentiment analysis public API with DYNAMIC ML service URL loaded from Firebase Firestore at every workflow execution (document ml_config/sentiment-ml-v1). No hardcoded URL — n8n Cloud Run workload identity calls the Firestore REST API directly. Changing the ML service URL in GCP no longer requires an n8n workflow deploy: just update the 'mlServiceUrl' field of the Firestore document via deploy.sh or the Console."
}
